@tailwind base;
@tailwind components;
@tailwind utilities;

body a {
    cursor: none;
}

#landing-text {
    font-size: clamp(10rem, 14cqi, 25rem);
}

/* NAVBAR  */

/* Link underline animation */

.nav-links a {
    position: relative;
    display: inline-block;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
    will-change: transform; /* Optional performance optimization */
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1); /* Expands underline from left to right */
}

/* VIDEO */

video {
    clip-path: inset(20px 3px 15px 7px); /* hide small black border on video */
}

.volume-button {
    position: absolute;
    bottom: 25px;
    right: 15px;
    background: none; /* Remove background */
    border: none; /* Remove border */
    font-size: 1.5rem; /* Increase icon size */
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Theme toggle switch */

.switch {
    width: 20px;
    height: 11px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 1px;
}

.switch[data-isdark="true"] {
    justify-content: flex-end;
}

.handle {
    width: 10px;
    height: 9px;
    border-radius: 50%;
}