@tailwind base;
@tailwind components;
@tailwind utilities;

body a {
    cursor: none;
}

#ascii-shape table, tr, td {
    pointer-events: none;
}

/*.title-text {*/
/*    -webkit-text-stroke: 1px #070707;*/
/*}*/


/* Z Indices */
/*
- z-50: overlays
    - z-30: custom cursor
    - z-30: Header
    - z-30: Footer
        - z-20: landing text
            - -z-10: borders background

*/

/* Links styling  */

a.text-link {
    position: relative;
    display: inline-block;
}

a.text-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
    will-change: transform; /* Optional performance optimization */
}

a.text-link:hover::after {
    transform-origin: left;
    transform: scaleX(1); /* Expands underline from left to right */
}

/* VIDEO */

video {
    /*clip-path: inset(20px 3px 15px 7px); !* hide small black border on video *!*/
}

/* Theme toggle switch */

.switch {
    width: 20px;
    height: 11px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 1px;
}

.switch[data-isdark="true"] {
    justify-content: flex-end;
}

.handle {
    width: 10px;
    height: 9px;
    border-radius: 50%;
}

.x-scroll-item:nth-child(2n) {
    align-items: end;
}

.x-scroll-item:nth-child(3n) {
    align-items: center;
}